.github-button {
  all: unset;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3em;

  color: green;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  cursor: pointer;
}

.github-button:focus {
  border-bottom: 1px dashed green;
}
