.markdown-body {
  padding: 20px;
}

.inner-wrapper {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 40px;

  min-width: 320px;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 767px) {
  .inner-wrapper {
    margin: 10px;
  }
}
