.markdown-body {
  padding: 20px;
}

.inner-wrapper {
  position: absolute;
  z-index: 15;
  top: 40px;
  // left: 20px;
  left: max(20px, calc((100vw - 980px) / 2));
  right: max(20px, calc((100vw - 980px) / 2));
  bottom: 40px;
  // margin: 40px;
  max-width: 980px;

  min-width: 320px;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  border-radius: 10px;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 767px) {
  .inner-wrapper {
    inset: 10px;
  }
}
